body {
  background-color: red;
}

#job-1 {
  font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

#job-2 {
  font-family: 'Courier New', Courier, monospace;
}

#job-3 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: blue;
}
